.bildherren {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.bildfrauen {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.bildkinder {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.kategorientitel {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.herrentitel {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.frauentitel {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.kindertitel {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.kontaktdaten {
    text-align: center;
}

form label {
    display: block;
    font-weight: 400;
    color: #fafafa;
    margin: 0 0 1em 0;
    margin-left: 80px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="submit"]
     {
		display: block;
		border: 10;
		background: #fafafa;
		width: 90%;
		border-radius: 0.5em;
		border: solid 1px #E5E5E5;
		padding: 1em;
		margin: 8px 0;
	}